<div class="img" style="background-color: burlywood;">
<h1 style="text-align: center;background-color: rgb(44, 38, 30);color: whitesmoke;">
    Home
</h1>
<!-- <img src="/assets/images/bg-ind-cuisine.jpg" /> -->

<div class="container" style="text-align: center;width: 40%;">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</div>
<div class="container" style="width: 10%;">
<button class="btn btn-outline-success" type="submit">Search</button>
</div>
</div>