<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="card">
            <div class="card-header" style="text-align:center">
                <h2>Products available to purchase</h2>
            </div>
            <div class="card-body">
                <input type="text"  [(ngModel)]="prodname"  class="form-control" (ngModelChange)="Search()"  placeholder="enter product details to search" />
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th (click)="sort('id')">ProductId&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('prodname')">Product Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('description')">Product Description&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('prodprice')">Product Price&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('available')">Is Available&nbsp;<i class="fa fa-sort"></i></th>
                        <!-- <th>Image</th> -->
                        <th>Operations</th>
                    </tr>
                  
                        <!-- <tr *ngIf="product" >
                            <td>{{product.prodid}}</td>
                            <td>{{product.prodname}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.prodprice}}</td>
                            <td>{{product.available}}</td>
                        </tr> -->
                        <tr *ngFor="let p of prodinfo" >
                            <td>{{p.prodid}}</td>
                            <td>{{p.prodname}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.prodprice | currency:"INR":"symbol"}}</td>
                            <td>{{p.available}}</td>
                            <!-- <td><img src="/src/assets/images/bg1.jpg"></td> -->
                            <td>
                                <input type="button"  value="Add to Cart"  class="btn btn-primary" (click)="AddToCart(product)" />
                            </td>
                        </tr>   
                </table>

                <a routerLink="/cart" class="button fancy-button">
                    <i class="material-icons">GoToCart_</i>Checkout
                  </a>
            </div>
        </div>
        <!-- (click)="AddToCart(product)" -->

    </div>
    <div class="col-md-2"></div>
</div>

